* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    
}

.grid-row {
    display: flex;
    justify-content: center;
}

.grid-item {
    border: 1px solid black;
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    justify-content: center;
}